[submodule "ipc-test-data"]
	path = ipc-test-data
	url = https://github.com/inab/ipc-test-data.git
[submodule "ipc-plugins"]
	path = ipc-plugins
	url = https://github.com/inab/ipc-plugins.git
[submodule "DAC-Portal-frontend"]
	path = DAC-Portal-frontend
	url = https://github.com/inab/DAC-Portal-frontend.git
[submodule "DAC-Portal-backend"]
	path = DAC-Portal-backend
	url = https://github.com/inab/DAC-Portal-backend.git
